<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón BACK -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Localización</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Localización</ion-title>
    </ion-toolbar>
  </ion-header>
  <capacitor-google-map #map></capacitor-google-map>
</ion-content>
