ion-header {
  --background: transparent;
}

.logo-container {
  text-align: center;
  margin-top: 50px;
}

.app-logo {
  width: 150px; /* Tamaño del logotipo */
  height: auto;
}

.input-group {
  margin-top: 30px;
}

.errors {
  color: red;
  font-size: 12px;
}

.remember-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

ion-checkbox {
  margin-right: 5px;
}