<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <!-- Sólo se muestra el menú si el usuario está autenticado -->
      <ion-content *ngIf="user">
        <ion-list id="inbox-list">
          <ion-list-header>e-Time Working</ion-list-header>
          <!-- Carga la foto del usuario o una por defecto -->
          <ion-avatar slot="start" *ngIf="user">
            <img [src]="user.url_picture || 'assets/img/user-default.png'" alt="Foto de Usuario" />
          </ion-avatar>
          <ion-note>{{ user.email }}</ion-note>
          <!-- carga los elementos del menú del componente-->
          <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[page.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">

          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-item lines="none" (click)="logout()">
            <ion-icon aria-hidden="true" slot="start" ios="exit-outline" md="exit-sharp"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
